In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
from glob import glob

In [2]:
# Reading all CSV file(s)
os.chdir("data/top10")
stocks = glob("*.csv")
arr = np.zeros((len(stocks)))
print(stocks) # The sequence of file reading

['AMZN.csv', 'MSFT.csv', 'NVDA.csv', 'FB.csv', 'DIS.csv', 'TSLA.csv', 'GOOG.csv', 'AAPL.csv', 'WMT.csv', 'JNJ.csv']

In [3]:
# User input parameters are Lag and R
# m = 0

In [88]:
# Lag = int(input("Enter lag number: "))
# R = (input("Enter R number: "))
# m = 0

In [3]:
os.chdir("data/top10")

data1 = pd.read_csv('AAPL.csv')
data2 = pd.read_csv('AMZN.csv')
  
# using merge function by setting how='inner'
output1 = pd.merge(data1, data2, 
                   on='Date', 
                   how='inner')
closeValues = df['Date']
# displaying result
print(output1)

FileNotFoundError: [Errno 2] No such file or directory: 'data/top10'

In [2]:
os.chdir("data/output")
stocks = glob("*.csv")
arr = np.zeros((len(stocks)))
print(stocks) # The sequence of file reading

['Output_GOOG.csv', 'Output_DIS.csv', 'Output_AAPL.csv', 'Output_WMT.csv', 'Output_TSLA.csv', 'Output_JNJ.csv', 'Output_AMZN.csv', 'Output_MSFT.csv', 'Output_NVDA.csv', 'Output_FB.csv']

In [5]:
# For each i = 1 to n (stocks in the market)
    # Get all dates and closing price
    # each (j + i) to n (stocks in the market)
        # Get all dates and closing price
        # For each lag for 1 to K (K is number of Trading Days)
# Shift the closing price by lag

# ?????????
# Calculate the correlation coefficient between the two stocks
# If r > R or r < -R then
# M = M + 1 
# Stock1NameArray(m) = Stock(i)
    # Stock1RArray(m) = mod(r)
    # Stock2NameArray(m) = Stock(j)
    # Stock2RArray(m) = mod(r)
# End if
# Next Lag
# Next j
# Next i

In [19]:
K = int(input("Enter lag number: "))
R = int(input("Enter R number: "))
#

Enter lag number: 5
Enter R number: 10

In [21]:

x = 10
print(-x)

-10

In [20]:
m = 0

for i in range(len(stocks)):
    for j in range(i+1,len(stocks)-1):
        data1 = pd.read_csv(stocks[i])
        data2 = pd.read_csv(stocks[j])
        data1 = data1["Adjusted Close"]
        data2 = data2["Adjusted Close"]
        data1 = data1[:K]
        data2 = data2[:K]
        data1 = data1.squeeze()
        data2= data2.squeeze()
        r = data1.corr(data2,method='pearson')
        l=[]
        if r > R or r < -R :
            m = m + 1
            l.append(stocks[i])
            l.append(stock)
            with open (final_output+".csv",'a') as f_object:
                writer_object = writer(f_object)
  
                # Pass the list as an argument into
                # the writerow()
                writer_object.writerow(List)

                #Close the file object
                f_object.close()

0.3698814404112271
0.567996860633749
0.06042443696036547
0.054400080302502
-0.21206565300184937
0.9531329012465755
0.17973207843545144
0.7736698953353944
0.8196903626413403
0.6192256692323287
0.6654268677674215
0.6432869514530302
0.5342012528814308
0.298307870204269
0.19381864657994846
0.8028220895841998
0.8180053658541673
0.2350608725878506
0.7208918723743436
-0.08152766932417323
0.644908359398055
0.8334229203733485
0.4260431570862898
0.19121252320952148
-0.516979483087668
0.26798901013471355
0.1875629201806903
0.3109969532116819
-0.11259541251147119
0.4177247325629723
-0.18661646245883423
0.04647634091160613
-0.5658721214033832
0.2813862871094055
0.8377393542225556
-0.06786736160021262

In [64]:
output1 = pd.DataFrame()
for i in range(len(stocks)-1):
    
#     df = pd.read_csv(i, parse_dates=['Date'], index_col='Date')
    # index 0 = Date and index 5 = Close |  Date and Close Price Columns
    
    if i == 0:
        data1 = pd.read_csv(stocks[i])
    else:
        data1 = output1
    
    data2 = pd.read_csv(stocks[i+1])
  
    # using merge function by setting how='inner'
    output1 = pd.merge(data1, data2, 
                   on='Date', 
                   how='inner')
    

df = pd.DataFrame(output1["Date"])
start_date = '18.05.2012'
end_date = '14.02.2022'
for i in range(len(stocks)):
    data  = pd.read_csv(stocks[i])
    final_output = pd.merge(data,df,on="Date",how="inner")
    st = 'Output_'+stocks[i]
    final_output.to_csv(st,index=False)
    
    print(final_output)

/var/folders/pv/_kc2w1cs0wvgmdlljhcx52gh0000gn/T/ipykernel_64871/3713124323.py:15: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Volume_x', 'Open_x', 'Adjusted Close_x', 'Low_x', 'Close_x', 'High_x'} in the result is deprecated and will raise a MergeError in a future version.
  output1 = pd.merge(data1, data2,

            Date          Low         Open   Volume         High        Close  \
0     18-05-2012   212.809998   219.410004  5231700   219.630005   213.850006
1     21-05-2012   212.820007   214.029999  3579800   219.979996   218.110001
2     22-05-2012   213.960007   218.309998  3733100   218.869995   215.330002
3     23-05-2012   211.179993   214.710007  4243800   217.550003   217.279999
4     24-05-2012   212.699997   216.979996  3141100   217.660004   215.240005
...          ...          ...          ...      ...          ...          ...
2447  08-02-2022  3111.010010  3135.010010  3802000  3235.850098  3228.270020
2448  09-02-2022  3205.000000  3257.469971  3439300  3276.689941  3223.790039
2449  10-02-2022  3155.000000  3167.000000  3413400  3214.330078  3180.070068
2450  11-02-2022  3054.679932  3162.689941  3851600  3180.000000  3065.870117
2451  14-02-2022  3033.000000  3035.020020  1340442  3143.879883  3143.290039

      Adjusted Close
0         213.850006
1         218.110001
2         215.330002
3         217.279999
4         215.240005
...              ...
2447     3228.270020
2448     3223.790039
2449     3180.070068
2450     3065.870117
2451     3143.290039

[2452 rows x 7 columns]
            Date         Low        Open    Volume        High       Close  \
0     18-05-2012   29.170000   29.790001  56205300   29.809999   29.270000
1     21-05-2012   29.059999   29.100000  38787900   29.790001   29.750000
2     22-05-2012   29.500000   29.690001  39504900   29.879999   29.760000
3     23-05-2012   28.639999   29.350000  65171000   29.400000   29.110001
4     24-05-2012   28.760000   29.160000  52575000   29.299999   29.070000
...          ...         ...         ...       ...         ...         ...
2447  08-02-2022  299.950012  301.250000  32421200  305.559998  304.559998
2448  09-02-2022  307.390015  309.869995  31284700  311.929993  311.209991
2449  10-02-2022  300.700012  304.040009  45386200  309.119995  302.380005
2450  11-02-2022  294.220001  303.190002  39143900  304.290009  295.040009
2451  14-02-2022  292.070007  293.769989  17380996  296.760010  295.399994

      Adjusted Close
0          24.093767
1          24.488878
2          24.497105
3          23.962061
4          23.929129
...              ...
2447      304.559998
2448      311.209991
2449      302.380005
2450      295.040009
2451      295.399994

[2452 rows x 7 columns]
            Date         Low        Open    Volume        High       Close  \
0     18-05-2012    3.005000    3.170000  56728800    3.185000    3.020000
1     21-05-2012    3.005000    3.025000  41626000    3.087500    3.072500
2     22-05-2012    2.990000    3.070000  41014000    3.075000    3.035000
3     23-05-2012    2.957500    3.002500  49600000    3.115000    3.110000
4     24-05-2012    3.005000    3.127500  52042000    3.132500    3.027500
...          ...         ...         ...       ...         ...         ...
2447  08-02-2022  239.800003  243.589996  41035900  252.300003  251.080002
2448  09-02-2022  253.529999  256.220001  52428200  267.250000  267.049988
2449  10-02-2022  256.000000  259.950012  51320000  269.250000  258.239990
2450  11-02-2022  237.729996  259.160004  60424800  261.519989  239.490005
2451  14-02-2022  237.550003  239.339996  21948247  248.750000  247.429794

      Adjusted Close
0           2.775032
1           2.823275
2           2.788815
3           2.857732
4           2.781924
...              ...
2447      251.080002
2448      267.049988
2449      258.239990
2450      239.490005
2451      247.429794

[2452 rows x 7 columns]
            Date         Low        Open     Volume        High       Close  \
0     18-05-2012   38.000000   42.049999  573576400   45.000000   38.230000
1     21-05-2012   33.000000   36.529999  168192700   36.660000   34.029999
2     22-05-2012   30.940001   32.610001  101786600   33.590000   31.000000
3     23-05-2012   31.360001   31.370001   73600000   32.500000   32.000000
4     24-05-2012   31.770000   32.950001   50237200   33.209999   33.029999
...          ...         ...         ...        ...         ...         ...
2447  08-02-2022  216.149994  220.850006   94729700  225.770004  220.179993
2448  09-02-2022  222.210007  224.199997   86563300  233.369995  232.000000
2449  10-02-2022  226.699997  228.270004   49310400  235.000000  228.070007
2450  11-02-2022  218.770004  228.460007   46101900  230.419998  219.550003
2451  14-02-2022  216.710007  219.309998   13379584  221.000000  218.770004

      Adjusted Close
0          38.230000
1          34.029999
2          31.000000
3          32.000000
4          33.029999
...              ...
2447      220.179993
2448      232.000000
2449      228.070007
2450      219.550003
2451      218.770004

[2452 rows x 7 columns]
            Date         Low        Open    Volume        High       Close  \
0     18-05-2012   43.619999   44.459999  10598200   44.490002   43.810001
1     21-05-2012   43.509998   43.810001   8309300   44.410000   44.389999
2     22-05-2012   44.130001   44.490002   6855400   44.700001   44.389999
3     23-05-2012   43.810001   44.240002   8875700   44.459999   44.209999
4     24-05-2012   44.009998   44.410000   9813200   44.610001   44.439999
...          ...         ...         ...       ...         ...         ...
2447  08-02-2022  140.740005  141.789993   9231700  142.889999  142.479996
2448  09-02-2022  143.250000  144.369995  22877400  147.350006  147.229996
2449  10-02-2022  151.110001  156.020004  42500300  157.500000  152.160004
2450  11-02-2022  148.559998  153.539993  17962200  154.690002  149.470001
2451  14-02-2022  149.210007  149.369995   5014468  153.630005  153.341599

      Adjusted Close
0          39.225006
1          39.744305
2          39.744305
3          39.583145
4          39.789074
...              ...
2447      142.479996
2448      147.229996
2449      152.160004
2450      149.470001
2451      153.341599

[2452 rows x 7 columns]
            Date         Low        Open    Volume        High       Close  \
0     18-05-2012    5.366000    5.674000   8082500    5.692000    5.512000
1     21-05-2012    5.424000    5.516000   7376000    5.852000    5.754000
2     22-05-2012    6.000000    6.020000  11831000    6.268000    6.160000
3     23-05-2012    5.900000    6.112000   6102000    6.210000    6.204000
4     24-05-2012    5.938000    6.250000   5378000    6.250000    6.056000
...          ...         ...         ...       ...         ...         ...
2447  08-02-2022  894.799988  905.530029  16909700  926.289978  922.000000
2448  09-02-2022  920.000000  935.000000  17419800  946.270020  932.000000
2449  10-02-2022  896.700012  908.369995  22042300  943.809998  904.549988
2450  11-02-2022  850.700012  909.630005  26492700  915.960022  860.000000
2451  14-02-2022  853.150024  861.570007  10494552  898.710022  897.570007

      Adjusted Close
0           5.512000
1           5.754000
2           6.160000
3           6.204000
4           6.056000
...              ...
2447      922.000000
2448      932.000000
2449      904.549988
2450      860.000000
2451      897.570007

[2452 rows x 7 columns]
            Date          Low         Open    Volume         High  \
0     18-05-2012   297.235901   311.382874  11991780   315.029205
1     21-05-2012   298.879730   299.133759   6173855   306.695435
2     22-05-2012   296.887207   305.574646   6126679   305.758942
3     23-05-2012   297.445099   299.701660   6380025   303.661804
4     24-05-2012   298.316833   303.442627   3796778   304.817474
...          ...          ...          ...       ...          ...
2447  08-02-2022  2737.459961  2779.824951   1712800  2796.741943
2448  09-02-2022  2807.540039  2816.995117   1431400  2843.510010
2449  10-02-2022  2761.000000  2790.000000   1650900  2828.620117
2450  11-02-2022  2665.770020  2775.000000   1937700  2785.665039
2451  14-02-2022  2666.201416  2667.310059    486482  2707.300049

            Close  Adjusted Close
0      299.078979      299.078979
1      305.908386      305.908386
2      299.278229      299.278229
3      303.592072      303.592072
4      300.702881      300.702881
...           ...             ...
2447  2784.260010     2784.260010
2448  2829.060059     2829.060059
2449  2772.050049     2772.050049
2450  2682.600098     2682.600098
2451  2707.094971     2707.094971

[2452 rows x 7 columns]
            Date         Low        Open     Volume        High       Close  \
0     18-05-2012   18.649286   19.070000  732292400   19.407499   18.942142
1     21-05-2012   19.073214   19.089287  631106000   20.055000   20.045713
2     22-05-2012   19.735001   20.341070  694870400   20.495714   19.891787
3     23-05-2012   19.758215   19.910713  584897600   20.457144   20.377144
4     24-05-2012   20.043928   20.566786  496230000   20.589287   20.190001
...          ...         ...         ...        ...         ...         ...
2447  08-02-2022  171.429993  171.729996   74829200  175.350006  174.830002
2448  09-02-2022  174.899994  176.050003   71285000  176.649994  176.279999
2449  10-02-2022  171.550003  174.139999   90865900  175.479996  172.119995
2450  11-02-2022  168.039993  172.330002   98566000  173.080002  168.639999
2451  14-02-2022  167.139999  167.369995   25398134  169.000000  168.699997

      Adjusted Close
0          16.219662
1          17.164627
2          17.032825
3          17.448418
4          17.288176
...              ...
2447      174.830002
2448      176.279999
2449      172.119995
2450      168.639999
2451      168.699997

[2452 rows x 7 columns]
            Date         Low        Open    Volume        High       Close  \
0     18-05-2012   61.759998   61.869999  16630700   62.630001   62.430000
1     21-05-2012   62.139999   62.380001  11149900   63.099998   63.040001
2     22-05-2012   62.900002   62.990002  12074400   63.950001   63.730000
3     23-05-2012   63.290001   63.389999  15682200   64.690002   64.580002
4     24-05-2012   64.459999   64.709999  11302700   65.180000   65.070000
...          ...         ...         ...       ...         ...         ...
2447  08-02-2022  137.509995  138.320007   6486300  139.240005  137.990005
2448  09-02-2022  137.470001  138.500000   7157900  138.789993  137.690002
2449  10-02-2022  135.460007  136.550003   9270200  137.009995  136.080002
2450  11-02-2022  134.169998  136.820007   7909900  137.179993  135.330002
2451  14-02-2022  132.820007  135.330002   3026581  135.960007  133.509995

      Adjusted Close
0          50.234119
1          50.724960
2          51.280170
3          51.964115
4          52.358402
...              ...
2447      137.990005
2448      137.690002
2449      136.080002
2450      135.330002
2451      133.509995

[2452 rows x 7 columns]
            Date         Low        Open    Volume        High       Close  \
0     18-05-2012   63.090000   63.869999  13781300   63.910000   63.349998
1     21-05-2012   63.250000   63.259998   8784900   63.830002   63.470001
2     22-05-2012   63.330002   63.400002   8409300   63.799999   63.520000
3     23-05-2012   62.880001   63.400002  11269100   63.750000   63.270000
4     24-05-2012   62.799999   62.889999   9309400   63.340000   63.099998
...          ...         ...         ...       ...         ...         ...
2447  08-02-2022  170.479996  171.020004   6296100  172.050003  171.509995
2448  09-02-2022  171.250000  172.070007   5387500  172.240005  171.490005
2449  10-02-2022  169.300003  171.210007  10355300  171.220001  169.419998
2450  11-02-2022  167.539993  169.119995  13124800  170.149994  167.710007
2451  14-02-2022  163.809998  167.710007   1954954  167.929993  164.086899

      Adjusted Close
0          48.176308
1          48.267567
2          48.305588
3          48.115475
4          48.453339
...              ...
2447      171.509995
2448      171.490005
2449      169.419998
2450      167.710007
2451      164.086899

[2452 rows x 7 columns]